
<div class="container">
  <h2 class="mt-5">Advertisements</h2>
  <div class="row">
    <p-card
      *ngFor="let advertisement of advertisements"
      header="{{advertisement.title}}"
      subheader="{{advertisement.description}}"
      class="col-lg-6 col-md-6 col-sm-12 my-4"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="{{advertisement.pictureURL}}"
        />
      </ng-template>
      <h5><strong>{{advertisement.shopName}}</strong></h5>
      <h6>Category: {{advertisement.category}}</h6>
      <h6>Address: {{advertisement.address}}</h6>
      <h6>Expire: {{advertisement.expiryDate | date: 'EEEE - dd/MM/yyyy'}}</h6>
      <h6 *ngIf="advertisement.showCode" class="text-danger">Code: {{advertisement.couponCode}}</h6>
      <ng-template pTemplate="footer">
        <p-button
          [rounded]="true"
          label="Location"
          icon="pi pi-map-marker"
          (click)="redirectToPage(advertisement.locationURL)"
        ></p-button>
        <p-button
          [rounded]="true"
          label="Code"
          icon="pi pi-lock-open"
          styleClass="p-button-rounded p-button-success"
          class="mx-3"
          [disabled]= "advertisement.showCode"
          (click)="showCode(advertisement)"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
