<h2>Shop Advertisement Page!!!</h2>

<div class="container">
  <div class="row">
    <p-card
      *ngFor="let i of [1, 2, 3]"
      header="Title"
      subheader="Description"
      class="col-lg-6 col-md-6 col-sm-12 my-4"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <h6>Expire: 10/05/2024</h6>
      <h6>Category: Glasses</h6>
      <ng-template pTemplate="footer">
        <p-button
          styleClass="p-button-rounded"
          label="Location"
          icon="pi pi-map-marker"
        ></p-button>
        <p-button
          [rounded]="true"
          label="Code"
          icon="pi pi-lock-open"
          styleClass="p-button-rounded p-button-secondary"
          class="mx-3"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
